<script src="/js/cliente/alterar.js"></script>

<div>
    <h1>Alterar Cliente</h1>

    <input type="hidden" id="id" value="<%= cliente.cliId %>">

    <div class="form-group">
        <label for="nome">Nome</label>
        <input id="nome" type="text" class="form-control" value="<%= cliente.cliNome %>">
    </div>

    <div class="form-group">
        <label for="cpf">CPF</label>
        <input id="cpf" type="text" class="form-control" value="<%= cliente.cliCpf %>">
    </div>

    <div class="form-group">
        <label for="nascimento">Data de Nascimento</label>
        <input id="nascimento" type="date" class="form-control" value="<%= cliente.cliNascimento %>">
    </div>

    <div class="form-group">
        <label for="genero">Gênero</label>
        <select id="genero" class="form-control">
            <option value="">Selecione</option>
            <option value="Masculino" <%= cliente.cliGenero == "Masculino" ? "selected" : "" %>>Masculino</option>
            <option value="Feminino" <%= cliente.cliGenero == "Feminino" ? "selected" : "" %>>Feminino</option>
            <option value="Não informar" <%= cliente.cliGenero == "Não informar" ? "selected" : "" %>>Não informar</option>
            <option value="Outro" <%= cliente.cliGenero == "Outro" ? "selected" : "" %>>Outro</option>
        </select>
    </div>

    <div class="form-group">
        <label for="telefone">Telefone</label>
        <input id="telefone" type="text" class="form-control" value="<%= cliente.cliTelefone %>">
    </div>

    <div class="form-group">
        <label for="email">E-mail</label>
        <input id="email" type="email" class="form-control" value="<%= cliente.cliEmail %>">
    </div>

    <div class="form-group">
        <label for="senha">Senha</label>
        <input id="senha" type="password" class="form-control" value="<%= cliente.cliSenha %>">
    </div>

    <div class="form-check">
        <input id="ativo" type="checkbox" <%= cliente.cliAtivo == "s" ? "checked" : "" %>>
        <label for="ativo">Ativo</label>
    </div>

    <br>

    <button id="btnAlterar" class="btn btn-primary">Salvar</button>
    <a href="/cliente" class="btn btn-secondary">Voltar</a>
</div>