<script src="/js/cliente/listar.js"></script>

<div>
    <h1>Clientes cadastrados</h1>

    <div>
        <a class="btn btn-primary" href="/cliente/cadastrar">
            <i class="fas fa-plus"></i> Cadastrar Cliente
        </a>
    </div>

    <br>

    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Nascimento</th>
                    <th>Gênero</th>
                    <th>Telefone</th>
                    <th>E-mail</th>
                    <th>Ativo</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <tbody>
                <% for(let i = 0; i < lista.length; i++) { %>
                    <tr>
                        <td><%= lista[i].cliId %></td>
                        <td><%= lista[i].cliNome %></td>
                        <td><%= lista[i].cliCpf %></td>
                        <td><%= lista[i].cliNascimento %></td>
                        <td><%= lista[i].cliGenero %></td>
                        <td><%= lista[i].cliTelefone %></td>
                        <td><%= lista[i].cliEmail %></td>
                        <td>
                            <% if(lista[i].cliAtivo == "s") { %>
                                <span class="badge bg-success">Sim</span>
                            <% } else { %>
                                <span class="badge bg-danger">Não</span>
                            <% } %>
                        </td>
                        <td>
                            <a href="/cliente/alterar/<%= lista[i].cliId %>" class="btn btn-primary">
                                <i class="fas fa-pen"></i>
                            </a>

                            <button data-id="<%= lista[i].cliId %>" class="btn btn-danger btnExcluir" type="button">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>