<script src="/js/descarte/lista.js"></script>

<div>
    <h1>Descartes</h1>

    <a href="/descarte/cadastrar" class="btn btn-primary mb-3">
        <i class="fas fa-plus"></i> Novo Descarte
    </a>

    <div class="card">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Data</th>
                        <th>Motivo</th>
                        <th>Observação</th>
                        <th>Ações</th>
                    </tr>
                </thead>

                <tbody>
                    <% for(let i=0; i < lista.length; i++) { %>
                        <tr>
                            <td>
                                <%= lista[i].des_id %>
                            </td>
                            <td>
                                <%= lista[i].pro_nome %>
                            </td>
                            <td>
                                <%= lista[i].des_quantidade %>
                            </td>
                            <td>
                                <%= lista[i].des_data ? new Date(lista[i].des_data).toLocaleString("pt-BR") : "---" %>
                            </td>
                            <td>
                                <%= lista[i].des_motivo %>
                            </td>
                            <td>
                                <%= lista[i].des_observacao || "---" %>
                            </td>

                            <td>
                                <a href="/descarte/alterar/<%= lista[i].des_id %>" class="btn btn-primary">
                                    <i class="fas fa-pen"></i>
                                </a>

                                <button data-id="<%= lista[i].des_id %>" class="btn btn-danger btnExcluir">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>