    <script src="/js/produto/lista.js"></script>

    <div>
        <h1>Produtos cadastrados</h1>

        <div>
            <a class="btn btn-primary" href="/produtos/cadastrar">
                <i class="fas fa-plus"></i> Cadastrar Produto
            </a>
        </div>

        <br>

        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Preço</th>
                        <th>Estoque</th>
                        <th>Validade</th>
                        <th>Ativo</th>
                        <th>Categoria</th>
                        <th>Tipo</th>
                        <th>Laboratório</th>
                        <th>Ações</th>
                    </tr>
                </thead>

                <tbody>
                    <% for(let i = 0; i < lista.length; i++) { %>
                        <tr>
                            <td><%= lista[i].proCodigo %></td>
                            <td><%= lista[i].proNome %></td>

                            <td>
                                R$ <%= Number(lista[i].proPreco).toFixed(2).replace(".", ",") %>
                            </td>

                            <td><%= lista[i].proEstoque %></td>

                            <td>
                                <%= lista[i].proDataValidade ? lista[i].proDataValidade : '---' %>
                            </td>

                            <td>
                                <% if(lista[i].proAtivo == 's') { %>
                                    <span class="badge bg-success">Sim</span>
                                <% } else { %>
                                    <span class="badge bg-danger">Não</span>
                                <% } %>
                            </td>

                            <td><%= lista[i].catDescricao || '---' %></td>
                            <td><%= lista[i].tipDescricao || '---' %></td>
                            <td><%= lista[i].labNome || '---' %></td>

                            <td>
                                <a 
                                    href="/produtos/alterar/<%= lista[i].proCodigo %>" 
                                    class="btn btn-primary"
                                >
                                    <i class="fas fa-pen"></i>
                                </a>

                                <button 
                                    data-id="<%= lista[i].proCodigo %>" 
                                    class="btn btn-danger btnExcluir"
                                >
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>